<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tkulife_pro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_campusinfor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_campusinfor"
        android:supportsRtl="true"
        android:theme="@style/Theme.TkuLife_pro">
        <activity android:name=".admin.packageManagement.PackageRecord"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/email__1_" />

        <service
            android:name=".FCMService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".student.stdPackage.PackagePage" >
            <intent-filter>
                <action android:name="Package" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".student.laundry.peaktimeChart.PeakTime" />
        <activity android:name=".student.laundry.status.machineStatus.StatusWithTab" />
        <activity android:name=".student.laundry.status.machineStatus.StatusFirstFloor" />
        <activity android:name=".student.laundry.status.floor.FloorStatus" />
        <activity android:name=".admin.fixReport.fixTab.DescribePage" />
        <activity android:name=".admin.AdminMainPage" />
        <activity android:name=".admin.packageManagement.PushNotification" />
        <activity android:name=".admin.fixReport.FixNotification" />
        <activity android:name=".student.laundry.fixReport.FixPage" />
        <activity android:name=".student.laundry.LittleTimer" />
        <activity android:name=".student.laundry.Laundry" />
        <activity android:name=".student.reminder.PushNotification" />
        <activity android:name=".student.StdMainPage" />
        <activity android:name=".UserSelect" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".student.reminder.PushNotification$TrashReceiver">
            <intent-filter>
                <action android:name="trash" />
            </intent-filter>
        </receiver>

        <receiver android:name=".student.laundry.status.machineStatus.StatusAdapter$Receiver">
            <intent-filter>
                <action android:name="busy" />
            </intent-filter>
        </receiver>
    </application>

</manifest>