<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tkulife_pro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TkuLife_pro">
        <activity android:name=".Student.Laundry.L_Adapter"></activity>
        <activity android:name=".Student.Laundry.washer_dryer" />
        <activity android:name=".Student.Laundry.LittleTimer" />
        <activity android:name=".Student.Laundry.Laundry" />
        <activity android:name=".Student.Reminder.PushNotification" />
        <activity android:name=".Student.Std_mainPage" />
        <activity android:name=".User_select" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- TODO 設定垃圾車receiver -->
        <receiver android:name=".Student.Reminder.PushNotification$TrashReceiver">
            <intent-filter>
                <action android:name="trash" />
            </intent-filter>
        </receiver>
    </application>

</manifest>